
html, body
     height: 100%
     margin: 0
     padding: 0
     font-family: 'Montserrat', sans-serif !important

/**************************Navigation*************************/

a
     text-decoration: none
     color: #fff
     &:focus
          color: #00BFFF

.email-info
     color: #81DAF5


nav
     width: 100%
     height: 80px
     background: #005a81
     position: fixed
     top: 0
     z-index: 4

nav ul
     float: right
     list-style: none

nav ul li a
     padding: 15px
     line-height: 20px
     background: #005a81
     color: #FFF
     text-decoration: none
     display: block

.logo-zt
     display: block
     margin: 20px auto
     height: 50px
     width: 250px

#nav-toggle
     position: fixed
     right: 20px
     top: 33px
     cursor: pointer
     padding: 10px 35px 16px 0px

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after
     cursor: pointer
     border-radius: 5px
     height: 5px
     width: 35px
     background: #FFF
     position: absolute
     display: block
     content: ''
     transition: all 300ms ease-in-out


#nav-toggle span:before
     top: -10px

#nav-toggle span:after
     bottom: -10px

#nav-toggle.active span
     background-color: transparent

#nav-toggle.active span:before, #nav-toggle.active span:after
     top: 0

#nav-toggle.active span:before
     transform: rotate(45deg)

#nav-toggle.active span:after
     transform: rotate(-45deg)

#container-menu
     position: fixed
     top: 84px
     right: 0px
     z-index: 4
     width: 233px

.nav-list
     position: fixed
     top: 10%
     right: 0px
     z-index: 4
     display: none

/**************************Main Container*************************/

.main_container
     background-image: url('../img/main_container.jpg')
     height: 100%
     width: 100%
     background-size: cover
     background-attachment: fixed
     background-position: center
     background-repeat: no-repeat
     z-index: -1
     padding-bottom: 225px

#main h1
     color: #005a81
     text-align: center
     padding: 10% 15% 0 15%
     text-transform: uppercase
     font-size: 4em
     font-weight: 900

.main_button
     box-shadow: inset 0px 1px 0px 0px #97c4fe
     background: linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
     background-color: #3d94f6
     border-radius: 6px
     border: 0px
     cursor: pointer
     color: #ffffff
     font-size: 1.5em
     font-weight: bold
     padding: 10px 20px
     display: block
     margin: 30px auto

.main_button:hover
     background: #005a81

.anker
     padding-bottom: 75px

#showbox
     position: relative
     width: 100%
     height: 100%
     top: 0

/**************************Linking*************************/

#container-linking
     width: 100%
     position: relative

#container-linking h3
     text-align: center
     text-transform: uppercase
     color: #fff
     font-weight: 300
     font-size: 2em
     margin: 0px 0px 50px 0px

#container-linking p
     text-align: center
     color: #fff
     font-weight: 300
     font-size: 1.5em

.linking_left
     position: relative
     width: 50%
     height: 700px
     float: left
     background: url('../img/linking_character.png') top center no-repeat
     background-size: cover
     transition: 0.6s

.linking_right
     position: relative
     width: 50%
     height: 700px
     float: right
     background: url('../img/linking_product.png') top center no-repeat
     background-size: cover
     transition: 0.6s

.linking_left:hover
     background: url('../img/linking_character-hover.png') top center no-repeat
     background-size: cover
     transition: 0.6s

.linking_right:hover
     background: url('../img/linking_product-hover.png') top center no-repeat
     background-size: cover
     transition: 0.6s

.overlay
     background: RGBA(0,90,129,0.3)
     position: absolute
     height: 100%
     width: 100%
     opacity: 0
     transition: 0.6s
     padding: 20% 10%
     box-sizing: border-box

.linking_left:hover .overlay
     opacity: 1
     transition: 0.6s

.linking_right:hover .overlay
     opacity: 1
     transition: 0.6s

/**************************Content*************************/

#content h2
     text-align: center
     text-transform: uppercase
     color: #3a98cc
     font-weight: 900
     font-size: 3em
     margin: 50px 0px 50px 0px

.our_service
     width: 100%
     display: flex
     justify-content: center

.service_container
     width: 20%
     border-radius: 5px
     border: 2px solid #005a81
     margin: 10px
     text-align: center
     box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3)
     padding: 20px 0

.service_container h5
     color: #005a81
     font-weight: bold
     padding: 10px
     font-size: 1.25em

.service_img
     width: 75%
     margin-top: 20px

.easy_text
     color: #3c4d58
     padding: 0px 17.5%
     margin: 5% 5%
     text-align: center
     font-size: 1.25em

.our_partners
     width: 100%
     background-color: #3c4d58
     padding-top: 1px

.partner_container
     display: flex
     justify-content: center
     padding-bottom: 100px

.partner_container img
     padding: 20px

/**************************Footer*************************/

footer
     width: 100%
     padding: 50px
     margin-top: 200px
     color: #FFF
     background-color: #3c4d58
     font-size: 0.9em
     box-sizing: border-box

footer h2
     line-height: 2

footer p
     line-height: 1.5

.footer_description
     width: 40%
     float: left
     margin: 5%

.footer_links
     width: 40%
     float: right
     margin: 5%

.footer_links a
     text-decoration: none
     color: #FFF

.footer_copyright
     margin: 0 0 0 5%

.logo_footer
     width: 50%

/**************************Scroll Top*************************/

#scroll-top img
     width: 100%

#scroll-top
     position: fixed
     bottom: 15px
     right: 15px
     z-index: 10
     cursor: pointer
     width: 35px

/**************************Desktop*************************/

@media screen and (min-width:1320px)

     nav
          height: 100px

/*
     #main h1
          font-size: 6em


     .overlay_character h1, .overlay_product h1
          padding: 0 15%

     .overlay_character p, .overlay_product p
          padding: 5% 20%

     .easy_text
          padding: 0px 20%
          margin: 3% 5%

     .linking_left, .linking_right
          height: 1000px

     #container-linking h3, #content h2
          font-size: 4em

     #container-linking p, .service_container h5
          font-size: 2em

     .easy_text
          font-size: 2em

     .main_button
          font-size: 2em
          padding: 15px 25px */

/**************************Mobile**************************/

@media screen and (max-width:768px)

     .anker
          margin-top: 50px

     .linking_left, .linking_right
          margin-bottom: 50px

     .main_container
          padding-bottom: 50px

     .main_button
          font-size: 1em
          padding: 10px

     #main h1
          font-size: 3em

     #content h2
          font-size: 2.5em

     #main
          padding-top: 50px

     .linking_left, .linking_right
          height: 400px

     #container-linking h3
          font-size: 1.5em

     #container-linking p
          font-size: 0.8em

     .our_service
          width: 50%
          display: block
          margin: 0 auto

     .service_container
          width: 100%
          padding: 0

     .service_img
          width: 25%
          margin-top: 10px

     .service_container h5
          font-size: 1.25em

     .easy_text
          font-size: 1.25em
          margin: 5% 0%

     .partner_container
          display: block

     .partner_container img
          width: 25%
          margin: 0px 50px

     footer
          margin-top: 100px

     footer p
          font-size: 0.5em

@media screen and (max-width:568px)

     #logo img
          width: 200px

     #showbox
          height: 70%

     #main h1
          font-size: 2em

     #container-linking h3
          font-size: 1.2em

     #container-linking p
          font-size: 0.8em

     .main_container_h1
          font-size: 2em
          padding: 40% 10% 0 10%

     .linking_character, .linking_product
          width: 100%
          height: 300px
          margin: 0

     .main_button
          font-size: 1em

     .easy_text
          font-size: 1em

     .service_container
          width: 100%
          height: 200px

     .service_container h5
          padding: 0px

     .our_service
          width: 60%

     .service_img
          width: 35%

     .partner_container img
          width: 20%
          margin: 0px 25px

     footer
          margin-top: 0px

     .footer_description, .footer_links, .footer_copyright
          width: 90%
          font-size: 1.25em
          float: none
