
*
     font-family: 'Montserrat', sans-serif !important

a
     color: #FFF

body
     margin: 0
     overflow: hidden
     width: 100%
     height: 100%

canvas
     position: absolute

#scene-container
     position: absolute
     width: 100%
     height: 100%

#backToHomePage
     position: absolute
     left: 0px
     top: 0px
     width: 30px
     height: 30px
     cursor: pointer
     border: 10px solid #005a81
     z-index: 5

/**************************-Ladescreen*************************/

#loading-overlay h1
     color: #FFF
     text-shadow: 2px 3px 2px #000
     text-align: center
     position: absolute
     top: 55%
     font-size: 3em

#loading-overlay
     background: url('../img/cyberboys_background.jpg')
     background-size: cover
     background-attachment: fixed
     background-position: center
     background-repeat: no-repeat
     position: absolute
     width: 100%
     height: 100%
     display: flex
     justify-content: center
     align-items: center
     z-index: 10

.loading-overlay-hidden
     display: none !important

#loading-bar
     width: 25em
     height: 2em
     border-radius: 1em
     border: 1px solid white
     display: inline-flex
     position: absolute
     top: 50%

#progress
     background-color: #005a7f
     height: inherit
     border-radius: inherit
     width: 5%

.main_button
     box-shadow: inset 0px 1px 0px 0px #97c4fe
     background: linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
     background-color: #3d94f6
     border-radius: 6px
     border: 0px
     cursor: pointer
     color: #ffffff
     font-size: 1em
     font-weight: bold
     padding: 10px 15px
     margin: 5px

/**************************Nav Custom Accordion*************************/

#nav-custom_accordion
     margin: 0 auto

.nav-custom_accordion-content p
     margin: 0
     color: #fff

.nav-custom_accordion-heading
     background-color: #005a81
     padding: 15px 15px 15px 45px
     display: block
     position: relative
     color: #ffffff
     text-decoration: none
     font-size: 1em

.nav-custom_accordion-heading::before
     content: "\f0a9"
     font-family: fontawesome
     font-size: 1em
     color: #ffffff
     position: absolute
     left: 20px
     top: 50%
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(0deg)
     -moz-transform: translateY(-50%) rotate(0deg)
     -ms-transform: translateY(-50%) rotate(0deg)
     -o-transform: translateY(-50%) rotate(0deg)
     transform: translateY(-50%) rotate(0deg)

.nav-custom_accordion-heading.active
     background-color: #4876FF
     color: #ffffff

.nav-custom_accordion-heading.active::before
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(90deg)
     -moz-transform: translateY(-50%) rotate(90deg)
     -ms-transform: translateY(-50%) rotate(90deg)
     -o-transform: translateY(-50%) rotate(90deg)
     transform: translateY(-50%) rotate(90deg)

.nav-custom_accordion-heading.active::before
     color: #ffffff

.nav-custom_accordion-content
     display: none
     font-size: 0.9em
     padding: 0px 10px 0px 20px

/**************************Nav Accordion*************************/

#nav-custom-position
     position: absolute
     z-index: 5
     top: 55px
     left: 0px
     background: #005a7f
     border-top-right-radius: 5px
     border-bottom-right-radius: 5px

#nav-custom-position h3
     color: #FFF
     padding: 10px 0 0 5px
     text-align: left

#nav-custom-position ul
     list-style-type: none
     padding: 0

#nav-custom-position ul li
     padding: 5px

#nav-custom-position ul li a
     text-decoration: none

/**************************Textboxen*************************/

#textbox-raphaelG,
#textbox-timS,
#textbox-chinL,
#textbox-sandroS,
#textbox-rezaS,
#textbox-philippT,
#textbox-kevinR,
#textbox-jessicaE,
#textbox-nicolasI
     position: absolute
     width: 45%
     height: 100%
     background-color: rgba(0, 0, 0, 0.85)
     top: 0
     left: 55%
     color: #FFFFFF
     text-align: center
     z-index: 0
     opacity: 0
     transition: all 1s ease

#fadeInOut
     position: absolute
     width: 100%
     height: 100%
     background-color: #005a81
     top: 0
     z-index: 0
     opacity: 0
     transition: all 1s ease

#textbox-raphaelG p,
#textbox-timS p,
#textbox-chinL p,
#textbox-sandroS p,
#textbox-rezaS p,
#textbox-philippT p,
#textbox-kevinR p,
#textbox-jessicaE p,
#textbox-nicolasI p
     margin: 10px
     text-align: left
     padding: 5px 15px
     line-height: 1.25

#content-skills-raphaelG,
#content-skills-timS,
#content-skills-chinL,
#content-skills-sandroS,
#content-skills-rezaS,
#content-skills-philippT,
#content-skills-kevinR,
#content-skills-jessicaE,
#content-skills-nicolasI
     text-align: left
     font-size: 0.75em

#tab-model-raphaelG:checked ~ #content-model-raphaelG,
#tab-skills-raphaelG:checked ~ #content-skills-raphaelG,
#tab-comment-raphaelG:checked ~ #content-comment-raphaelG,
#tab-model-timS:checked ~ #content-model-timS,
#tab-skills-timS:checked ~ #content-skills-timS,
#tab-comment-timS:checked ~ #content-comment-timS,
#tab-model-chinL:checked ~ #content-model-chinL,
#tab-skills-chinL:checked ~ #content-skills-chinL,
#tab-comment-chinL:checked ~ #content-comment-chinL,
#tab-model-sandroS:checked ~ #content-model-sandroS,
#tab-skills-sandroS:checked ~ #content-skills-sandroS,
#tab-comment-sandroS:checked ~ #content-comment-sandroS,
#tab-model-rezaS:checked ~ #content-model-rezaS,
#tab-skills-rezaS:checked ~ #content-skills-rezaS,
#tab-comment-rezaS:checked ~ #content-comment-rezaS,
#tab-model-philippT:checked ~ #content-model-philippT,
#tab-skills-philippT:checked ~ #content-skills-philippT,
#tab-comment-philippT:checked ~ #content-comment-philippT,
#tab-model-kevinR:checked ~ #content-model-kevinR,
#tab-skills-kevinR:checked ~ #content-skills-kevinR,
#tab-comment-kevinR:checked ~ #content-comment-kevinR,
#tab-model-jessicaE:checked ~ #content-model-jessicaE,
#tab-skills-jessicaE:checked ~ #content-skills-jessicaE,
#tab-comment-jessicaE:checked ~ #content-comment-jessicaE,
#tab-model-nicolasI:checked ~ #content-model-nicolasI,
#tab-skills-nicolasI:checked ~ #content-skills-nicolasI,
#tab-comment-nicolasI:checked ~ #content-comment-nicolasI
     display: block

/**************************Wechsel Textboxen*************************/

section
     display: none
     padding: 20px 0
     border-top: 1px solid #abc

input
     display: none

label
     display: inline-block
     padding: 15px 25px

label:before
     font-weight: normal
     margin-right: 10px

label:hover
     color: #789
     cursor: pointer

input:checked + label
     color: #0af
     border: 1px solid #abc
     border-top: 2px solid #0af
     border-bottom: 0px

/**************************3D Buttons*************************/

#zoom-out
     position: absolute
     width: 50px
     height: 50px
     background-color: rgba(0, 90, 129, 0.75)
     top: 0px
     right: 0
     z-index: 2
     display: none
     color: #FFFFFF
     text-align: center
     font-size: 24px
     cursor: pointer
     border: 0px

#arrow-left, #arrow-right
     font-size: 100px
     position: absolute
     color: white
     z-index: 3
     bottom: 0
     left: 0
     display: none
     cursor: pointer

#arrow-right
     left: 7.5%

/**************************Accordion Textbox*************************/

.faq__accordion-content
     display: none
     padding: 10px 30px

.faq__accordion-content p
     margin: 0
     color: #fff

.faq__accordian-heading
     background-color: #005a81
     padding: 10px 30px 10px 45px
     display: block
     margin-bottom: 15px
     position: relative
     font-weight: 500
     color: #ffffff
     text-decoration: none
     font-size: 1.5em

.faq__accordian-heading::before
     content: "\f0a9"
     font-family: fontawesome
     font-size: 1em
     color: #ffffff
     position: absolute
     left: 20px
     top: 50%
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(0deg)
     -moz-transform: translateY(-50%) rotate(0deg)
     -ms-transform: translateY(-50%) rotate(0deg)
     -o-transform: translateY(-50%) rotate(0deg)
     transform: translateY(-50%) rotate(0deg)

.faq__accordian-heading.active
     background-color: #4876FF
     color: #ffffff

.faq__accordian-heading.active::before
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(90deg)
     -moz-transform: translateY(-50%) rotate(90deg)
     -ms-transform: translateY(-50%) rotate(90deg)
     -o-transform: translateY(-50%) rotate(90deg)
     transform: translateY(-50%) rotate(90deg)

.faq__accordian-heading.active::before
     color: #ffffff

/**************************Mobile*************************/
@media screen and (max-width:768px)

     h1
          font-size: 36px

     #textbox-raphaelG p,
     #textbox-timS p,
     #textbox-chinL p,
     #textbox-sandroS p,
     #textbox-rezaS p,
     #textbox-philippT p,
     #textbox-kevinR p,
     #textbox-jessicaE p,
     #textbox-nicolasI p
          font-size: 10px

     #zoom-out
          font-size: 15px
          height: 25px
          width: 25px

     #arrow-left, #arrow-right
          font-size: 50px
