*
     font-family: 'Montserrat', sans-serif !important

a
     color: #FFF

body
     margin: 0
     overflow: hidden
     width: 100%
     height: 100%

canvas
     position: absolute

nav
     width: 100%
     height: 100%
     background: #005a81
     position: absolute
     color: #FFF
     font-size: 1.5em
     z-index: 7

nav img
     width: 20%
     padding: 30px 0px 0px 55px


.toggle_menu
     display: none


nav ul
     display: none
     list-style-type: none


nav ul li
     display: inline-block
     padding: 15px

nav ul li a
     text-decoration: none


nav ul li ul
     position: absolute
     padding: 15px


nav ul li ul li
     display: block
     font-size: 0.75em

#nav-toggle
     position: absolute
     right: 25px
     top: 25px
     cursor: pointer
     padding: 10px 35px 16px 0px
     z-index: 8
     background: #005a81
     border: 10px solid #005a81


#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after
     cursor: pointer
     border-radius: 5px
     height: 5px
     width: 35px
     background: #FFF
     position: absolute
     display: block
     content: ''
     transition: all 300ms ease-in-out


#nav-toggle span:before
     top: -10px


#nav-toggle span:after
     bottom: -10px


#nav-toggle.active span
     background-color: transparent


#nav-toggle.active span:before, #nav-toggle.active span:after
     top: 0


#nav-toggle.active span:before
     transform: rotate(45deg)


#nav-toggle.active span:after

     transform: rotate(-45deg)

#backToHomePage
     position: absolute
     left: 0px
     top: 0px
     width: 30px
     height: 30px
     cursor: pointer
     border: 10px solid #005a81
     z-index: 5

/**************************Custom*************************/

#custom-position:target, #custom-view:target, #show-live-demo:target
     font-weight: 900

#custom-position-active
     position: absolute
     z-index: 5
     top: 55px
     left: 0px
     background: #005a7f
     border-top-right-radius: 5px
     border-bottom-right-radius: 5px

#custom-position-active h3, #custom-view-active h3
     color: #FFF
     padding: 10px 0 0 5px
     text-align: left

#custom-position-active ul, #custom-view-active ul
     list-style-type: none
     padding: 0

#custom-position-active ul li, #custom-view-active ul li
     padding: 5px

#custom-position-active ul li a, #custom-view-active ul li a
     text-decoration: none

#custom-position:target, #custom-view:target, #show-live-demo:target
     background: #0060fc
     padding: 20px
     border-radius: 50%

#custom-position-active h3, #custom-view-active h3
     color: #FFF
     padding: 10px
     text-align: center

#custom-position-active ul, #custom-view-active ul
     list-style-type: none
     padding: 0

#custom-position-active ul li, #custom-view-active ul li
     padding: 5px
     text-align: center

#custom-position-active ul li a, #custom-view-active ul li a
     text-decoration: none

.brand-logo
     margin-left: 30px

/**************************Accordion Custom*************************/

#custom_faq__accordian-main-wrapper
     margin: 0 auto

.custom_faq__accordion-content p
     margin: 0
     color: #fff

.custom_faq__accordian-heading
     background-color: #005a81
     padding: 15px 15px 15px 45px
     display: block
     position: relative
     color: #ffffff
     text-decoration: none
     font-size: 1em

.custom_faq__accordian-heading::before
     content: "\f0a9"
     font-family: fontawesome
     font-size: 1em
     color: #ffffff
     position: absolute
     left: 20px
     top: 50%
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(0deg)
     -moz-transform: translateY(-50%) rotate(0deg)
     -ms-transform: translateY(-50%) rotate(0deg)
     -o-transform: translateY(-50%) rotate(0deg)
     transform: translateY(-50%) rotate(0deg)

.custom_faq__accordian-heading.active
     background-color: #4876FF
     color: #ffffff

.custom_faq__accordian-heading.active::before
     -webkit-transition: 0.3s linear all
     -moz-transition: 0.3s linear all
     -ms-transition: 0.3s linear all
     -o-transition: 0.3s linear all
     transition: 0.3s linear all
     -webkit-transform: translateY(-50%) rotate(90deg)
     -moz-transform: translateY(-50%) rotate(90deg)
     -ms-transform: translateY(-50%) rotate(90deg)
     -o-transform: translateY(-50%) rotate(90deg)
     transform: translateY(-50%) rotate(90deg)

.custom_faq__accordian-heading.active::before
     color: #ffffff

.custom_faq__accordion-content
     display: none
     font-size: 0.9em
     padding: 0px 10px 0px 20px

#loading-overlay h1
     color: black
     text-shadow: 2px 3px 2px #FFF
     text-align: center
     position: absolute
     top: 25%
     font-size: 3em

#loading-overlay
     background: url('../img/sackmesser_background.png')
     background-size: cover
     background-attachment: fixed
     background-position: center
     background-repeat: no-repeat
     position: absolute
     width: 100%
     height: 100%
     display: flex
     justify-content: center
     align-items: center
     z-index: 10

.loading-overlay-hidden
     display: none !important

#loading-bar
     width: 25em
     height: 2em
     border-radius: 1em
     border: 1px solid white
     display: inline-flex
     position: absolute
     top: 50%

#progress
     background-color: #DCDCDC
     height: inherit
     border-radius: inherit
     width: 5%

#live-demo-page
     width: 100%
     height: 100%
     position: absolute
     top: 0px
     display: none
     z-index: 9
     border: none

.live-demo-iframe
     width: 100%
     height: 100%

.demo-button-group
     position: absolute
     width: 100%
     height: auto
     z-index: 2
     text-align: center
     font-size: 18px
     cursor: pointer

.demo-button-group button
     background-color: rgba(0, 0, 0, 0.75)
     color: #FFFFFF
     padding: 5px

#backTo3D
     position: absolute
     right: 1px
     top: 1px
     width: 40px
     height: 40px
     background-color: rgba(0, 0, 0, 0.75)
     z-index: 2
     color: #FFFFFF
     text-align: center
     font-size: 24px
     cursor: pointer

#zoom-out
     position: absolute
     width: 40px
     height: 40px
     background-color: rgba(0, 90, 129, 0.75)
     top: 0px
     right: 0
     z-index: 2
     display: none
     color: #FFFFFF
     text-align: center
     font-size: 24px


#arrow-left, #arrow-right
     font-size: 100px
     position: absolute
     color: white
     z-index: 3
     bottom: 0
     left: 0
     display: none
     cursor: pointer


#arrow-right
     left: 7.5%


#showAccordion
     display: none


.icon-animation
     display: block !important


.knife-open, .knife-close
     height: 50px
     width: 50px
     background: white
     border-radius: 50px
     padding: 5px
     cursor: pointer


.knife-close-int
     display: none


main
     max-width: 800px
     padding: 40px
     border: 1px solid rgba(0,0,0,.2)
     background: #fff
     box-shadow: 0 1px 3px rgba(0,0,0,.1)


section
     display: none
     padding: 20px 0
     border-top: 1px solid #abc


input
     display: none


label
     display: inline-block
     padding: 15px 25px


label:before
     font-weight: normal
     margin-right: 10px


label:hover
     color: #789
     cursor: pointer


input:checked + label
     color: #0af
     border: 1px solid #abc
     border-top: 2px solid #0af
     border-bottom: 0px

#textbox-alltagsmesser,
#textbox-foerstermesser,
#textbox-klettermesser,
#textbox-elektrikermesser
     position: absolute
     width: 40%
     height: 100%
     background-color: rgba(0, 0, 0, 0.75)
     padding: 10px
     top: 0
     left: 58.5%
     z-index: 0
     opacity: 0
     color: #FFFFFF
     text-align: center
     transition: all 2s ease
     font-size: 0.8em

#textbox-alltagsmesser p,
#textbox-foerstermesser p,
#textbox-klettermesser p,
#textbox-elektrikermesser p
     margin: 10px
     text-align: left
     padding: 5px 15px
     line-height: 1.25

#tab-product-alltagsmesser:checked ~ #content-product-alltagsmesser,
#tab-specification-alltagsmesser:checked ~ #content-specification-alltagsmesser,
#tab-product-foerstermesser:checked ~ #content-product-foerstermesser,
#tab-specification-foerstermesser:checked ~ #content-specification-foerstermesser,
#tab-product-klettermesser:checked ~ #content-product-klettermesser,
#tab-specification-klettermesser:checked ~ #content-specification-klettermesser,
#tab-product-elektrikermesser:checked ~ #content-product-elektrikermesser,
#tab-specification-elektrikermesser:checked ~ #content-specification-elektrikermesser
     display: block

#content-specification-alltagsmesser ul li,
#content-specification-foerstermesser ul li,
#content-specification-klettermesser ul li,
#content-specification-elektrikermesser ul li
     text-align: left
     margin-left: 50px
     line-height: 1.5


#scene-container
     position: absolute
     width: 100%
     height: 100%

.main_button
     box-shadow: inset 0px 1px 0px 0px #97c4fe
     background: linear-gradient(top, #3d94f6 5%, #1e62d0 100%)
     background-color: #3d94f6
     border-radius: 6px
     border: 0px
     cursor: pointer
     color: #ffffff
     font-size: 12px
     font-weight: bold
     padding: 5px 10px
     margin: 5px

.main_button:hover
     background: #005a81


@media screen and (max-width:768px)

     h1
          font-size: 36px


     #textbox-alltagsmesser p,
     #textbox-foerstermesser p,
     #textbox-klettermesser p,
     #textbox-elektrikermesser p
          font-size: 10px


     #zoom-out
          font-size: 15px
          height: 25px
          width: 25px


     #arrow-left, #arrow-right
          font-size: 50px
